 
{% extends 'layout.html' %}

{% block title %}Execution History{% endblock %}

{% block content %}
<div class="container">
    <h3>Execution History</h3>
    <form id="executionHistoryForm" action="#" method="post">
        <div class="form-group">
            <label for="username">User Name:</label>
            <input type="text" class="form-control" id="user" name="user" value="All">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Web URL</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for pipeline in pipelines %}
                <tr>
                    <td>{{ pipeline['created_at'] }}</td>
                    <td>{{ pipeline['updated_at'] }}</td>
                    <td><a href="{{ pipeline['web_url'] }}">{{ pipeline['web_url'] }}</a></td>
                    <td>{{ pipeline['status'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
