{% extends 'layout.html' %}

{% block title %}F2B CI Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to F2B CI Dashboard</h1>
    <p>This app is integrated with GitLab API to provide a seamless pipeline execution interface.</p>
    <p>Users can:</p>
    <ul>
        <li>Trigger pipelines</li>
        <li>Check status of pipelines using pipeline ID</li>
        <li>View the last 10 executions status of pipelines</li>
    </ul>
</div>
{% endblock %}
