{% extends 'layout.html' %}

{% block title %}Pipeline Status{% endblock %}

{% block content %}
<div class="container">
    <h3>Pipeline Status</h3>
    <form id="pipelineStatusForm" action="#" method="post">
        <div class="form-group">
            <label for="pipelineId">Search Pipeline ID:</label>
            <input type="text" class="form-control" id="pipelineId" name="pipelineId">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div id="pipelineStatusResult">
        {% if pipeline_status %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Web URL</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ pipeline_status['user']['username'] }}</td>
                        <td>{{ pipeline_status['created_at'] }}</td>
                        <td>{{ pipeline_status['updated_at'] }}</td>
                        <td><a href="{{ pipeline_status['web_url'] }}">{{ pipeline_status['web_url'] }}</a></td>
                        <td>{{ pipeline_status['status'] }}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            Status will appear here
        {% endif %}
    </div>
</div>
{% endblock %}

