{% extends 'layout.html' %}

{% block title %}
Trigger Pipeline
{% endblock %}

{% block content %}
<div class="container">
    <h3>Trigger Pipeline</h3s>
    <form id="triggerPipelineForm">
        <div class="form-group">
            <label for="selectProcess">Select Process</label>
            <select class="form-control" id="selectProcess">
                <option value="" selected disabled>Select Process</option>
                {% for process in processes %}
                <option value="{{ process }}">{{ process }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" id="feedsGroup" style="display: none;">
            <label for="selectFeeds">Select FEEDs</label>
            <div class="input-group">
                <select class="form-control" id="selectFeeds" multiple style="min-width: 10ch;"></select>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="processForm()">Process</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form>
</div>
{% endblock %}
